---
// build time stuff goes here
---

<div class="color-grid">
  <div class="color-grid__item">
    <span style="background-color: var(--gray-50);"></span>
    gray-50
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-100);"></span>
    gray-100
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-200);"></span>
    gray-200
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-300);"></span>
    gray-300
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-400);"></span>
    gray-400
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-500);"></span>
    gray-500
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-600);"></span>
    gray-600
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-700);"></span>
    gray-700
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-800);"></span>
    gray-800
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-900);"></span>
    gray-900
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--gray-950);"></span>
    gray-950
  </div>

  <div class="color-grid__item">
    <span style="background-color: var(--mint-50);"></span>
    mint-50
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-100);"></span>
    mint-100
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-200);"></span>
    mint-200
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-300);"></span>
    mint-300
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-400);"></span>
    mint-400
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-500);"></span>
    mint-500
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-600);"></span>
    mint-600
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-700);"></span>
    mint-700
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-800);"></span>
    mint-800
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-900);"></span>
    mint-900
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--mint-950);"></span>
    mint-950
  </div>

  <div class="color-grid__item">
    <span style="background-color: var(--pine-50);"></span>
    pine-50
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-100);"></span>
    pine-100
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-200);"></span>
    pine-200
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-300);"></span>
    pine-300
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-400);"></span>
    pine-400
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-500);"></span>
    pine-500
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-600);"></span>
    pine-600
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-700);"></span>
    pine-700
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-800);"></span>
    pine-800
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-900);"></span>
    pine-900
  </div>
  <div class="color-grid__item">
    <span style="background-color: var(--pine-950);"></span>
    pine-950
  </div>
</div>

<style>
  .color-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: var(--size-2);
  }

  @media screen and (max-width: 1000px) {
    .color-grid {
      grid-template-columns: repeat(11, calc(var(--size-8)));
      overflow-x: scroll;
    }
  }

  .color-grid .color-grid__item {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    padding-bottom: var(--size-3);
  }

  .color-grid .color-grid__item span {
    display: block;
    padding: var(--size-5);
    border-radius: 4px;
  }
</style>
