/* 
Component styles: these include utility classes for basic styles that are used throughout our components,
templates,
and pages. it depends on _variables.css */

/* 1. CARDS */
.card {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
}

/* 1.1 BUTTON CARDS */
.card__button {
    font-family: "Open-Sans", sans-serif;
    padding: var(--size-4);
    /* border-bottom: 10px solid var(--amber-5); */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "main"
        "button";
}

.card__button h3 {
    font-size: var(--font-size-4);
    margin: var(--size-4) 0 0 0;
}

.card__button p {
    margin: var(--size-3) 0 var(--size-1) 0;
}

.card__button__content {
    grid-area: main;
    align-self: start;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 14px;
    height: 100%;
}

.card__button__button {
    grid-area: button;
    align-self: end;
    display: grid;
    place-items: center;
}

.card__button__button a,
.card__button__button button {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    background-color: var(--amber-5);
    color: #000;
    font-weight: bold;
    border-radius: 32px;
    width: 100%;
    transition: all 0.15s ease-in-out;
}

.card__button__button a:hover,
.card__button__button button:hover {
    color: #fff;
    background: var(--amber-6);
    text-decoration: none !important;
}

.card__button ul {
    width: 100%;
    padding-inline-start: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.card__button ul li {
    line-height: 1.6;
}

/* 1.1.1 CARD BUTTON: MINT */
.card__button--light {
    background: var(--mint-200);
    color: var(--gray-900);
}

.card__button--light span.icon {
    color: var(--pine-900);
}

.card__button--light .card__button__button a,
.card__button--light .card__button__button button {
    color: var(--pine-900);
    background: var(--mint-200);
    border: 2px solid var(--pine-900);
}

.card__button--light .card__button__button a:hover,
.card__button--light .card__button__button button:hover {
    background: var(--pine-900);
    color: var(--mint-200);
    border: 2px solid var(--pine-900);
}

/* 1.1.2 CARD BUTTON: DARK GREEN */

.card__button--dark {
    background: var(--pine-900);
    color: var(--mint-200);
}

.card__button--dark span.icon {
    color: var(--mint-200);
}

.card__button--dark .card__button__button a,
.card__button--dark .card__button__button button {
    color: var(--mint-200);
    border-radius: 32px;
    background: var(--pine-900);
    border: 2px solid var(--mint-200);
}

.card__button--dark .card__button__button a:hover,
.card__button--dark .card__button__button button:hover {
    background: var(--mint-200);
    color: var(--pine-900);
}

/* 1.1.3 CARD BUTTON: White */

.card__button--white {
    background: white;
    color: var(--gray-800);
}

.card__button--white span.icon {
    color: var(--pine-900);
}

.card__button--white .card__button__button a,
.card__button--white .card__button__button button {
    color: var(--mint-200);
    border-radius: 32px;
    background: var(--pine-900);
    border: 2px solid var(--pine-900);
}

.card__button--white .card__button__button a:hover,
.card__button--white .card__button__button button:hover {
    background: white;
    color: var(--pine-900);
}


/* 1.1.3 CARD BUTTON HERO  */
.card__button--hero {
    position: relative;
    z-index: 0;
    color: var(--gray-50);
    background-image: var(--bg-image);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.card__button--hero .card__button__content {
    text-shadow: 1px 1px 2px #000000;
    display: grid;
    place-items: center;
}

.card__button--hero>* {
    z-index: 2;
}

.card__button--hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pine-950);
    opacity: 0.7;
    border-radius: 4px 4px 0px 0px;
    z-index: 1;
}

.card__button--hero span.icon {
    color: var(--mint-50);
}

.card__button--hero .card__button__button a,
.card__button--hero .card__button__button button {
    color: var(--pine-900);
    background: var(--mint-50);
    border: 2px solid var(--mint-50);
}

.card__button--hero .card__button__button a:hover,
.card__button--hero .card__button__button button:hover {
    color: var(--mint-200);
    background: var(--pine-900);
    border: 2px solid var(--pine-900);
}

/* 1.2 LINKS CARDS */
.card__links {
    background: white;
    font-family: "Open-Sans", sans-serif;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.card__links__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.card__links__list-item {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--mint-200);
}

.card__links__list-item:last-of-type {
    border-bottom: 1px solid var(--mint-200);
}

.card__links__list-item a {
    display: grid;
    grid-template-columns: 24px auto 24px;
    align-items: center;
    gap: 1em;
    padding: 1.1em;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    color: var(--pine-900);
}

.card__links__list-item a:hover {
    background: var(--mint-200);
}

.card__links__list-item:hover {
    border-top: 1px solid var(--pine-900);
    border-bottom: 1px solid var(--pine-900);
}

.card__links__list-item:hover+li {
    border-top: 0px;
}

.card__links__list-item__chevron {
    transition: transform 0.2s cubic-bezier(0, 0, .3, 1);
    color: var(--pine-900);
}

.card__links__list-item a:hover .card__links__list-item__chevron {
    transform: translatex(2.5px);
}

.card__links__list-item__icon {
    color: var(--pine-900);
}

.card__links__list-item a:hover .card__links__list-item__content {
    text-decoration: underline;
    color: var(--gray-800);
}